TranslationFixer/TranslationFixer_CléTemporaire.pfx
*.sln
TranslationFixer/1458448126_France-Flag.ico
*.config
TranslationFixer/bin/Debug/SDVFRSavePatch.exe
*.pdb
TranslationFixer/bin/Debug/SDVFRSavePatch.vshost.exe
*.manifest
TranslationFixer/Form1.resx
*.cache
TranslationFixer/obj/Debug/PatchFRSaveTranslation.csproj.FileListAbsolute.txt
*.txt
TranslationFixer/obj/Debug/SDVFRSavePatch.exe
*.resources
TranslationFixer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TranslationFixer/obj/Debug/TempPE/DataSet1.Designer.cs.dll
*.dll
TranslationFixer/Properties/Resources.resx
*.settings
TranslationFixer/SDVFRSavePatch.csproj
*.user
TranslationFixer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TranslationFixer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TranslationFixer/Properties/AssemblyInfo.cs
TranslationFixer/Properties/Resources.Designer.cs
TranslationFixer/Properties/Settings.Designer.cs
*.suo
TranslationFixer/Data.cs~RF2182bd59.TMP
TranslationFixer/3mcvcsom.aye~
*.xml
packages/Newtonsoft.Json.8.0.3/tools/install.ps1
packages/Newtonsoft.Json.8.0.3/Newtonsoft.Json.8.0.3.nupkg
TranslationFixer/KtB6QLE.ico
TranslationFixer/obj/Debug/SDVSavePatch.exe
TranslationFixer/bin/Debug/SDVSavePatch.exe
TranslationFixer/bin/Debug/SDVSavePatch.vshost.exe
TranslationFixer/obj/Debug/build.force