TranslationFixer/TranslationFixer_CléTemporaire.pfx
*.sln
TranslationFixer/1458448126_France-Flag.ico
*.config
TranslationFixer/bin/Debug/SDVFRSavePatch.exe
*.pdb
TranslationFixer/bin/Debug/SDVFRSavePatch.vshost.exe
*.manifest
TranslationFixer/Form1.resx
*.cache
TranslationFixer/obj/Debug/PatchFRSaveTranslation.csproj.FileListAbsolute.txt
*.txt
TranslationFixer/obj/Debug/SDVFRSavePatch.exe
*.resources
TranslationFixer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cs
TranslationFixer/obj/Debug/TempPE/DataSet1.Designer.cs.dll
*.dll
TranslationFixer/Properties/Resources.resx
*.settings
TranslationFixer/SDVFRSavePatch.csproj
*.user